@model AdventureLabNew.Models.ViewModels.HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="cards-list">
    @foreach (var prod in Model.Products)
    {
        <partial name="_ProductCard" model="prod" />
        <partial name="_ProductCard" model="prod" />
        <partial name="_ProductCard" model="prod" />
        <partial name="_ProductCard" model="prod" />
        <partial name="_ProductCard" model="prod" />
    }
</div>