@model IEnumerable<MyModel>
@{
    ViewData["Title"] = "MyModels";
}

<p>
    <a class="btn btn-dark" asp-controller="MyModel" asp-action="Create"><i class="fa-solid fa-plus"></i> Create Category</a>
</p>

@if (Model.Count() > 0)
{
    <table class="table table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>Name</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td width="90%">@item.Name</td>
                    <td><a style="display: block; margin-left: auto; margin-right: auto;" class="btn btn-primary" asp-route-Id="@item.Id" asp-controller="MyModel" asp-action="Edit"><i class="fa-solid fa-pen"></i></a></td>
                    <td>
                        
                        <form asp-controller="MyModel" asp-action="Delete" asp-route-Id="@item.Id" method="post">
                            <input style="display: block; margin-left: auto; margin-right: auto;" type="submit" class="btn-danger btn" value="╳" />
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
